[app]
# Subreddit to parse
subreddit = rabbits

# Interval (in minutes) to check subreddit
interval = 5

# Keyword to search for within title and text
keyword = cute

# Addional keyword search, split by commas
keyword = pretty, bun

# SMTP information
[smtp]
smtp_server = localhost
smtp_port = 25
smtp_username = test
smtp_password = test
smtp_to = test@test.com
smtp_from = test@test.com
